html {
  font-size: 62.5%; /* 62.5% of 16px default font size = 10px */
}

* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

/* SCROLLBAR */
/* Let's get this party started */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  /* background: rgb(0, 0, 0, 0.4); */
  background: #252530;
  border: 2px solid transparent;
  background-clip: content-box; /* THIS IS IMPORTANT */
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #edd63f6c;
  /* background: #252530; */
  border-radius: 5px;
}

:root {
  --font-roboto: "Roboto Slab", serif;
  --font-raleway: "Raleway", sans-serif;
}

@font-face {
  font-family: "Oxanium-Bold";
  src: URL("/public/fonts/Oxanium-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Oxanium-ExtraBold";
  src: URL("/public/fonts/Oxanium-ExtraBold.ttf") format("truetype");
}
@font-face {
  font-family: "Oxanium-ExtraLight";
  src: URL("/public/fonts/Oxanium-ExtraLight.ttf") format("truetype");
}
@font-face {
  font-family: "Oxanium-Light";
  src: URL("/public/fonts/Oxanium-Light.ttf") format("truetype");
}
@font-face {
  font-family: "Oxanium-Medium";
  src: URL("/public/fonts/Oxanium-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Oxanium-Regular";
  src: URL("/public/fonts/Oxanium-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Oxanium-SemiBold";
  src: URL("/public/fonts/Oxanium-SemiBold.ttf") format("truetype");
}

.App {
  width: 100%;
  box-sizing: border-box;
  background-color: #252530;
  display: grid;
  /* grid-template-rows / grid-template-columns*/
  grid-template:
    min-content / [sidepadding-start] minmax(2rem, 1fr)
    [sidepadding-end sidebar-start] 22rem [sidebar-end center-start] repeat(
      8,
      [col-start] minmax(min-content, 15rem) [col-end]
    )
    [center-end] minmax(2rem, 1fr) [full-end];
}

.sidebar {
  grid-column: sidebar-start / sidebar-end;
  min-height: 100%;
  max-height: 104.2rem;
  /* max-height: 100rem; */
  height: auto;
  overflow-y: auto; /* Enables vertical scrolling when content exceeds the container's height */
  display: flex;
  flex-direction: column;
  /* padding: rem 0; */
}

.container {
  grid-column: center-start / center-end;
  padding-left: 2rem;
  height: 100vh;
  /* display: grid;
  grid-template-rows:
    [row-1-start]15vh [row-1-end row-2-start] minmax(6rem, 5vh)
    [row-2-end row-3-start] minmax(min-content, 65vh)
    [row-3-end row-4-start]
    15vh [row-4-end]; */
}

.pokedex_title_row {
  margin: 4rem 0rem 5rem 0rem;
}
.pokedex_title_container {
  width: fit-content;
  block-size: fit-content;
  margin: auto;
  filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.745));
}
.pokedex_title {
  font-family: "Oxanium-ExtraBold";
  text-transform: uppercase;
  font-size: 4.8rem;
  color: #ffffff;
}
.pokedex_title_id_container {
  display: flex;
  font-size: 2.4rem;
  font-family: "Oxanium-Medium";
  color: rgba(237, 213, 63, 0.75);
}
.pokedex_title_id-start {
  padding-right: 0.5rem;
}
.pokedex_title_id-end {
  padding-left: 0.5rem;
}
.pokedex_container {
  /* grid-row: row-3-start / row-3-end; */
  /* flex-direction: row;
  display: flex;
  flex-wrap: wrap;
  column-gap: 2.5rem;
  row-gap: 3rem;
  align-items: center;
  justify-content: center; */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 2.5rem;
  row-gap: 3rem;
  align-items: center;
  justify-content: flex-start;
  max-width: 1200px; /* Maximum width of the container */
  width: 100%; /* Adjust width as needed */
  padding-left: 2rem;
}

.pagination_container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5rem 0;
}
.pagination {
  display: flex;
  flex-wrap: wrap;
  gap: 10px; /* Spacing between buttons */
  justify-content: center; /* Center the pagination buttons */
  padding: 20px;
}
.pagination_button {
  font-family: "Oxanium-ExtraBold";
  color: white;
  background-color: #252530;
  text-transform: uppercase;
  transition: all 0.2s ease-out;
  background-color: #292f3f;
  height: 5rem;
  padding: 0 2rem;
  border-radius: 0.5rem;
  cursor: pointer;
}
.pagination_button:hover {
  color: #edd53f;
}
.page-item {
  font-family: "Oxanium-ExtraBold";
  font-size: 1.8rem;
  background: #252530;
  padding: 8px 16px;
  cursor: pointer;
  transition: background-color 0.3s;
  color: #edd53f;
  border-radius: 0.5rem;
}

.page-item:hover {
  background-color: #292f3f;
}

.page-item.active {
  background-color: #d94256;
  color: white;
}
/* 
@media (max-width: 480px) {
  .container {
    width: 100%;
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  .container {
    width: 95%;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .container {
    width: 80%;
  }
}

@media (min-width: 1025px) {
  .container {
  }
} */
