html {
  font-size: 62.5%; /* 62.5% of 16px default font size = 10px */
}

* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

/* SCROLLBAR */
/* Let's get this party started */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  /* background: rgb(0, 0, 0, 0.4); */
  background: #252530;
  border: 2px solid transparent;
  background-clip: content-box; /* THIS IS IMPORTANT */
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #edd63f6c;
  /* background: #252530; */
  border-radius: 5px;
}

:root {
  --font-roboto: "Roboto Slab", serif;
  --font-raleway: "Raleway", sans-serif;
}

@font-face {
  font-family: "Oxanium-Bold";
  src: URL("/public/fonts/Oxanium-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Oxanium-ExtraBold";
  src: URL("/public/fonts/Oxanium-ExtraBold.ttf") format("truetype");
}
@font-face {
  font-family: "Oxanium-ExtraLight";
  src: URL("/public/fonts/Oxanium-ExtraLight.ttf") format("truetype");
}
@font-face {
  font-family: "Oxanium-Light";
  src: URL("/public/fonts/Oxanium-Light.ttf") format("truetype");
}
@font-face {
  font-family: "Oxanium-Medium";
  src: URL("/public/fonts/Oxanium-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Oxanium-Regular";
  src: URL("/public/fonts/Oxanium-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Oxanium-SemiBold";
  src: URL("/public/fonts/Oxanium-SemiBold.ttf") format("truetype");
}

.App {
  width: 100%;
  box-sizing: border-box;
  background-color: #252530;
  display: grid;
  /* grid-template-rows / grid-template-columns*/
  grid-template:
    min-content / [sidepadding-start] minmax(2rem, 1fr)
    [sidepadding-end sidebar-start] 22rem [sidebar-end center-start] repeat(
      8,
      [col-start] minmax(min-content, 15rem) [col-end]
    )
    [center-end] minmax(2rem, 1fr) [full-end];
}

.sidebar {
  grid-column: sidebar-start / sidebar-end;
  grid-row: 1 / span 2;
  min-height: 100%;
  max-height: 104.2rem;
  /* max-height: 100rem; */
  height: auto;
  overflow-y: auto; /* Enables vertical scrolling when content exceeds the container's height */
  display: flex;
  flex-direction: column;
  background: #4e5466;
  /* padding: rem 0; */
  transition: all 0.2s linear;
}

.sidebar_button {
  display: none;
  align-items: center;
  padding: 0.7rem 0.75rem;
  width: fit-content;
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  background: #4e5466;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  cursor: pointer;
  position: absolute;
  left: 0px;
  z-index: 1000;
  transition: all 0.2s linear;
  opacity: 0;
}

.sidebar_button svg {
  height: 3.2rem;
  width: 3.2rem;
  padding: 0.5rem;
  background-color: #4e5466;
  border-radius: 50%;
  border: 2px solid #aca394;
  transition: all 0.2s linear;
}
.sidebar_button svg path {
  fill: #fcf6ee;
  fill-opacity: 1;
  transition: all 0.2s linear;
}
.sidebar_button h4 {
  color: #ffffff;
  font-family: "Oxanium-Bold";
  text-transform: uppercase;
  font-size: 1rem;
  margin-left: 1rem;
  transition: all 0.2s linear;
}

.container {
  grid-column: center-start / center-end;
  padding-left: 2rem;
  /* display: grid;
  grid-template-rows:
    [row-1-start]15vh [row-1-end row-2-start] minmax(6rem, 5vh)
    [row-2-end row-3-start] minmax(min-content, 65vh)
    [row-3-end row-4-start]
    15vh [row-4-end]; */
}

.pokedex_title_row {
  margin: 2rem 0rem 5rem 0rem;
}
.pokedex_title_container {
  width: fit-content;
  block-size: fit-content;
  margin: auto;
  filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.745));
}
.pokedex_title {
  font-family: "Oxanium-ExtraBold";
  text-transform: uppercase;
  font-size: 4.8rem;
  color: #ffffff;
}
.pokedex_title_id_container {
  display: flex;
  font-size: 2.4rem;
  font-family: "Oxanium-Medium";
  color: rgba(237, 213, 63, 0.75);
}
.pokedex_title_id-start {
  padding-right: 0.5rem;
}
.pokedex_title_id-end {
  padding-left: 0.5rem;
}
.pokedex_container {
  /* grid-row: row-3-start / row-3-end; */
  /* flex-direction: row;
  display: flex;
  flex-wrap: wrap;
  column-gap: 2.5rem;
  row-gap: 3rem;
  align-items: center;
  justify-content: center; */
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: 2.5rem;
  row-gap: 3rem;
  align-items: center;
  justify-content: center;
  /* min-width: 110rem; */
  width: 90%; /* Adjust width as needed */
  padding-left: 2rem;
  margin: auto;
}

.pagination_container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5rem 0;
}
.pagination {
  display: flex;
  flex-wrap: wrap;
  gap: 10px; /* Spacing between buttons */
  justify-content: center; /* Center the pagination buttons */
  padding: 20px;
}
.pagination_button_outter {
  font-family: "Oxanium-ExtraBold";
  color: #252530;
  /* background-color: #252530; */
  text-transform: uppercase;
  transition: all 0.2s ease-out;
  /* background-color: #292f3f; */
  /* padding: 0 2rem; */
  /* border-radius: 0.5rem; */
  cursor: pointer;
  /* height: 5rem; */
  width: 6rem;
  height: 3.5rem;
  background-color: rgba(237, 213, 63, 0.5);
  border-radius: 4.5rem 4.5rem 0 0;
  position: relative;
  transform: rotate(90deg);
}
.pagination_button_outter.previous {
  transform: rotate(-90deg);
}
.pagination_button_inner {
  position: absolute;
  background: #a9aaab;
  width: 4.2rem;
  height: 4.2rem;
  border-radius: 50%;
  border: 0.5rem solid #252530;
  transform: translate(-50%, -16%) rotate(270deg);
  top: 50%;
  left: 50%;
  font-size: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  line-height: 1;
}
.pagination_button_inner.previous {
  transform: translate(-50%, -16%) rotate(-270deg);
}
/* .pagination_button_outter:hover {
  color: #edd53f;
} */
.page-item {
  font-family: "Oxanium-ExtraBold";
  font-size: 1.8rem;
  background: #252530;
  padding: 8px 16px;
  cursor: pointer;
  transition: background-color 0.3s;
  color: #edd53f;
  border-radius: 0.5rem;
}

.page-item:hover {
  background-color: #292f3f;
}

.page-item.active {
  background-color: #d94256;
  color: white;
}

@media (max-width: 1245px) {
  .container {
    padding-left: 0rem;
  }
}
@media (max-width: 1225px) {
  .sidebar_block {
    min-height: 9rem;
  }
  .pokedex_container {
    padding-left: 0px;
  }
}
@media (max-width: 1090px) {
  .pokedex_container {
    width: 100%;
    justify-content: center;
    row-gap: 2rem;
  }
}
@media (max-width: 1100px) {
  .App {
    grid-template:
      min-content /
      [center-start] repeat(8, [col-start] minmax(min-content, 15rem) [col-end])
      [center-end];
    position: relative;
  }
  .sidebar_button {
    display: flex;
    opacity: 0.65;
  }
  .sidebar_button:hover {
    background: #3c414f;
    opacity: 1;
  }
  .sidebar_button.visible {
    background: #3c414f;
    opacity: 1;
  }
  .sidebar_button:hover svg,
  .sidebar_button.visible svg {
    background: #ffffff;
    border: 2px solid rgba(126, 126, 126, 0.2);
  }
  .sidebar_button.visible:hover svg {
    background: #4e5466;
    border: 2px solid #aca394;
  }
  .sidebar_button:hover h4,
  .sidebar_button.visible h4 {
    color: #edd53f;
  }
  .sidebar_button.visible:hover h4 {
    color: #ffffff;
  }
  .sidebar_button:hover svg path,
  .sidebar_button.visible svg path {
    fill: #a40000;
  }
  .sidebar_button.visible:hover svg path {
    fill: #fcf6ee;
  }
  .sidebar_button.visible {
    position: absolute;
    left: 19rem;
    z-index: 1000;
  }
  .detailcard_sidebar-btn {
    top: 6rem;
  }
  .sidebar {
    position: absolute;
    z-index: 2000;
    height: 100vh;
    z-index: 2000;
    background: #4e5466;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  }
  .sidebar.visible {
    width: 19rem;
  }

  .sidebar.hidden {
    width: 0rem;
  }

  .pokedex_container {
    width: 90%;
    margin: auto;
  }
  .pokedex_title_row {
    margin: 5.5rem auto 5rem auto;
  }
}
@media (max-width: 768px) {
  .pokedex_title {
    font-size: 3.6rem;
  }
  .pokedex_title_id_container {
    font-size: 1.6rem;
  }
  .pokedex_title_row {
    width: 80%;
  }
}
@media (max-width: 620px) {
  .page-item {
    font-size: 1.6rem;
    padding: 0.4rem 0.8rem;
  }

  .pagination_button_inner {
    width: 3.5rem;
    height: 3.5rem;
    border: 0.3rem solid #252530;
    transform: translate(-52%, -14%) rotate(270deg);
    transition: all 0.2s linear;
    font-size: 0.65rem;
  }
  .pagination_button_outter {
    width: 5rem;
    height: 3rem;
    border-radius: 3rem 3rem 0 0;
    transition: all 0.2s linear;
  }
}
@media (max-width: 510px) {
  .page-item {
    font-size: 1.4rem;
    padding: 0.4rem 0.8rem;
  }
  .pagination {
    padding: 0rem;
  }
  .pagination_button_inner {
    width: 2.5rem;
    height: 2.5rem;
    border: 0.3rem solid #252530;
    transform: translate(-52%, -14%) rotate(270deg);
    transition: all 0.2s linear;
    font-size: 0.65rem;
  }
  .pagination_button_outter {
    width: 4rem;
    height: 2rem;
    border-radius: 4rem 4rem 0 0;
    transition: all 0.2s linear;
  }
}
@media (max-width: 470px) {
  .pokedex_container {
    width: 100%;
    margin: unset;
    padding: 0 0.5rem;
  }
}

@media (max-width: 420px) {
  .sidebar_button {
    padding: 0.5rem 0.55rem;
  }
  .sidebar_button h4 {
    font-family: "Oxanium-SemiBold";
    width: 7rem;
  }
  .sidebar_button svg {
    height: 2.8rem;
    width: 2.8rem;
    padding: 0.3rem;
  }
}

@media (min-width: 480px) {
}
@media (min-width: 481px) and (max-width: 768px) {
}

@media (min-width: 769px) and (max-width: 1024px) {
}

@media (min-width: 1025px) {
}
