* {
  margin: 0;
  border: 0;
  box-sizing: border-box;
}

:root {
  --font-roboto: "Roboto Slab", serif;
  --font-raleway: "Raleway", sans-serif;
}

@font-face {
  font-family: "Oxanium-Bold";
  src: URL("/public/fonts/Oxanium-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Oxanium-ExtraBold";
  src: URL("/public/fonts/Oxanium-ExtraBold.ttf") format("truetype");
}
@font-face {
  font-family: "Oxanium-ExtraLight";
  src: URL("/public/fonts/Oxanium-ExtraLight.ttf") format("truetype");
}
@font-face {
  font-family: "Oxanium-Light";
  src: URL("/public/fonts/Oxanium-Light.ttf") format("truetype");
}
@font-face {
  font-family: "Oxanium-Medium";
  src: URL("/public/fonts/Oxanium-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "Oxanium-Regular";
  src: URL("/public/fonts/Oxanium-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Oxanium-SemiBold";
  src: URL("/public/fonts/Oxanium-SemiBold.ttf") format("truetype");
}

.App {
  width: 100%;
  padding: 4.25em 3.1875em 11.25em;
  box-sizing: border-box;
  background-color: #12131d;
}

.container {
  max-width: 1440px;
  margin: auto;
}

.pokedex_container {
  flex-direction: row;
  display: flex;
  flex-wrap: wrap;
  column-gap: 3em;
  row-gap: 3em;
  align-items: center;
  justify-content: center;
}
/* 
@media (max-width: 480px) {
  .container {
    width: 100%;
  }
}

@media (min-width: 481px) and (max-width: 768px) {
  .container {
    width: 95%;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .container {
    width: 80%;
  }
}

@media (min-width: 1025px) {
  .container {
  }
} */
