.pokemonDetailCardMiddle_damage-innercontainer {
  background-color: #2f2f3d;
  padding: 0.75rem 0.5rem;
  border-radius: 0.75rem;
  min-width: 12rem;
  width: 25%;
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
}
.pokemonDetailCardMiddle_damage-innercontainer:not(:last-child) {
  margin-right: 0.75rem;
}
.pokemonDetailCardMiddle_damage-title-container {
  background-color: #252530;
  text-align: center;
  border-radius: 0.5rem;
}
.pokemonDetailCardMiddle_damage-title-container.super-effective {
  background: #7c0000;
}
.pokemonDetailCardMiddle_damage-title-container.effective {
  background: #a40000;
}
.pokemonDetailCardMiddle_damage-title-container.neutral {
  background: #edc43f;
}
.pokemonDetailCardMiddle_damage-title-container.not-effective {
  background: #73d217;
}
.pokemonDetailCardMiddle_damage-title-container.very-not {
  background: #4e9a06;
}
.pokemonDetailCardMiddle_damage-title-container.no-effect {
  background: #252530;
}

.pokemonDetailCardMiddle_damage-secondary-title {
  color: #ffffff;
  text-transform: uppercase;
  font-family: "Oxanium-SemiBold";
  padding: 0.5rem;
  height: 3.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.12rem;
}
.pokemonDetailCardMiddle_damage-types-container {
  display: flex;
  padding: 0.5rem;
  flex-wrap: wrap;
  align-items: center;
}
.pokemonDetailCardMiddle_damage-types-container .pokemon_card_type-icon {
  margin: 0.15rem;
}
