.pokemon_card_border {
  position: relative;
  height: 395px;
  width: 290px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
  box-shadow: inset 0 0 0.5px 1px hsla(0, 0%, 100%, 0.075),
    /* shadow ring 👇 */ 0 0 0 1px hsla(0, 0%, 0%, 0.05),
    /* multiple soft shadows 👇 */ 0 0.3px 0.4px hsla(0, 0%, 0%, 0.02),
    0 0.9px 1.5px hsla(0, 0%, 0%, 0.045), 0 3.5px 6px hsla(0, 0%, 0%, 0.09);
}
.pokemon_card_border_type_grass {
  background: #093119;
  /* -webkit-box-shadow: 0px 0px 7px 3px rgba(0, 255, 51, 0.72);
  -moz-box-shadow: 0px 0px 7px 3px rgba(0, 255, 51, 0.72);
  box-shadow: 0px 0px 7px 3px rgba(0, 255, 51, 0.72); */
}
.pokemon_card_border_type_fire {
  background: #370c0c;
  /* -webkit-box-shadow: 0px 0px 7px 3px rgba(253, 28, 3, 0.72);
  -moz-box-shadow: 0px 0px 7px 3px rgba(253, 28, 3, 0.72);
  box-shadow: 0px 0px 7px 3px rgba(253, 28, 3, 0.72); */
}
.pokemon_card_border_type_water {
  background: #111635;
  /* -webkit-box-shadow: 0px 0px 7px 3px rgba(0, 51, 255, 0.72);
  -moz-box-shadow: 0px 0px 7px 3px rgba(0, 51, 255, 0.72);
  box-shadow: 0px 0px 7px 3px rgba(0, 51, 255, 0.72); */
}
.pokemon_card_border_type_bug {
  background: #252504;
  /* -webkit-box-shadow: 0px 0px 7px 3px rgba(101, 108, 6, 0.72);
  -moz-box-shadow: 0px 0px 7px 3px rgba(101, 108, 6, 0.72);
  box-shadow: 0px 0px 7px 3px rgba(101, 108, 6, 0.72); */
}
.pokemon_card_border_type_flying {
  background: #221f32;
  /* -webkit-box-shadow: 0px 0px 7px 3px rgba(151, 177, 249, 0.72);
  -moz-box-shadow: 0px 0px 7px 3px rgba(151, 177, 249, 0.72);
  box-shadow: 0px 0px 7px 3px rgba(151, 177, 249, 0.72); */
}
.pokemon_card_border_type_normal {
  background: #292929;
  /* -webkit-box-shadow: 0px 0px 7px 3px rgba(144, 152, 161, 0.72);
  -moz-box-shadow: 0px 0px 7px 3px rgba(144, 152, 161, 0.72);
  box-shadow: 0px 0px 7px 3px rgba(144, 152, 161, 0.72); */
}

.pokemon_card {
  height: 365px;
  width: 260px;
  /* height: 24em; */
  /* width: 15.125em; */
  /* margin: 35px 20px 20px 20px; */
  position: relative;
}

.pokemon_card::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: 1;
  clip-path: polygon(20% 0, 100% 0, 100% 100%, 0 100%, 0 19%);
}

.pokemon_card_type_water::after {
  background-image: linear-gradient(
    28deg,
    rgba(57, 156, 255, 0.8) -3.35%,
    rgba(66, 82, 148, 0.8) 100.05%
  );
}
.pokemon_card_type_fire::after {
  background-image: linear-gradient(
    31deg,
    rgba(215, 16, 16, 0.996) -1.34%,
    rgba(165, 22, 28, 0.8) 80.6%,
    rgba(38, 27, 28, 0.8) 162.55%
  );
}
.pokemon_card_type_grass::after {
  background-image: linear-gradient(
    26deg,
    rgba(109, 242, 181, 0.8) -20.98%,
    rgba(49, 175, 99, 0.8) 39.38%,
    rgba(12, 115, 86, 0.8) 99.73%
  );
}
.pokemon_card_type_bug::after {
  background-image: linear-gradient(
    28deg,
    rgba(145, 194, 44, 0.8) -3.29%,
    rgba(114, 153, 34, 0.8) 47.8%,
    rgba(91, 123, 31, 0.8) 98.89%
  );
}
.pokemon_card_type_flying::after {
  background-image: linear-gradient(28deg, #9cadf7 -3.35%, #425294 100.05%);
}
.pokemon_card_type_normal::after {
  background-image: linear-gradient(
    28deg,
    rgba(172, 180, 183, 0.8) -3.29%,
    rgba(144, 153, 161, 0.8) 47.8%,
    rgba(77, 78, 81, 0.8) 98.89%
  );
}
/* pokemon card stats container START */
.pokemon_card_image-container {
  height: 260px;
  width: 260px;
  margin: auto;
  margin-top: -25%;
  transform: scale(1.05);
  position: relative;
  z-index: 3;
}

.pokemon_card_image {
  width: 100%;
  height: 100%;
}
/* pokemon card stats container END */

/* pokemon card stats container START */
.pokemon_card_stats-container {
  padding: 12px 14px;
  position: relative;
  z-index: 2;
  letter-spacing: 1.2px;
  color: rgb(240, 240, 240);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset,
    rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.pokemon_card_stats_type_water {
  background-image: linear-gradient(
    180deg,
    #425294 0%,
    #1077ded3 50%,
    #425294 100%
  );
}
.pokemon_card_stats_type_fire {
  background-image: linear-gradient(
    180deg,
    rgba(115, 33, 8, 0.8) 0%,
    rgba(206, 37, 3, 0.8) 50%,
    rgba(115, 33, 8, 0.8) 100%
  );
}
.pokemon_card_stats_type_grass {
  background-image: linear-gradient(
    180deg,
    rgba(25, 115, 25, 0.75) 0%,
    rgba(17, 175, 17, 0.75) 50%,
    rgba(24, 104, 24, 0.75) 100%
  );
}
.pokemon_card_stats_type_bug {
  background-image: linear-gradient(
    180deg,
    #484810 0%,
    #606010 25%,
    #666c06 50%,
    #606010 75%,
    #484810 100%
  );
}
.pokemon_card_stats_type_flying {
  background-image: linear-gradient(
    180deg,
    #505eae 0%,
    #738ed9 25%,
    #97b1f9 50%,
    #738ed9 75%,
    #505eae 100%
  );
}
.pokemon_card_stats_type_normal {
  background-image: linear-gradient(
    180deg,
    #596264 0%,
    #797f86 25%,
    #9098a1 50%,
    #797f86 75%,
    #596264 100%
  );
}
.pokemon_card_stats-top {
  padding-left: 10px;
}
.pokemon_card_stats-top_grass {
  border-left: 5px solid #77cc55;
}
.pokemon_card_stats-top_fire {
  border-left: 5px solid #f8a54f;
}
.pokemon_card_stats-top_water {
  border-left: 5px solid #559edf;
}
.pokemon_card_stats-top_bug {
  border-left: 5px solid #9dc130;
}
.pokemon_card_stats-top_flying {
  border-left: 5px solid #9bb4e8;
}
.pokemon_card_stats-top_normal {
  border-left: 5px solid #9a9da1;
}
.pokemon_card_name-primary {
  font-family: "Oxanium-Bold";
  text-transform: uppercase;
  font-size: 20px;
}

.pokemon_card_name-secondary {
  font-family: "Oxanium-SemiBold";
  font-size: 14px;
}

.pokemon_card_stats-bottom {
  margin: 5px;
}

.pokemon_card_height,
.pokemon_card_weight {
  display: flex;
  justify-content: space-around;
  font-size: 14px;
  margin: 3px;
  opacity: 0.85;
}
.pokemon_card_weight {
  margin-bottom: 0px;
}

.pokemon_card_text-primary {
  width: 30%;
  font-family: "Oxanium-SemiBold";
}
.pokemon_card_text-secondary {
  width: 45%;
  font-family: "Oxanium-SemiBold";
  text-align: right;
}
.pokemon_card_text-secondary span {
  font-size: 12px;
}
/* pokemon card stats container END */

/* pokemon card type container START */

.pokemon_card_type-container {
  position: relative;
  z-index: 2;
  display: flex;
  margin: 12px 0;
}

.pokemon_card_type {
  width: 85px;
  height: 28px;
  border-radius: 50px;
  text-align: center;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: #ffffff;
  /* font-family: Avenir; */
  font-family: "Oxanium-SemiBold";
  font-size: 12px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  text-transform: uppercase;
  text-align: left;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
}
.pokemon_card-type_name {
  width: 60%;
  text-align: center;
}
.pokemon_card_icon_image {
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.pokemon_card_type_grass-icon {
  background: #77cc55;
}
.pokemon_card_type_fire-icon {
  background: #f8a54f;
}
.pokemon_card_type_water-icon {
  background: #559edf;
}
.pokemon_card_type_bug-icon {
  background: #9dc130;
}
.pokemon_card_type_flying-icon {
  background: #9bb4e8;
}
.pokemon_card_type_normal-icon {
  background: #9a9da1;
}
.pokemon_card_type_poison-icon {
  background: #b563ce;
}
