.pokemonDetailCardTop {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin-top: 2rem;
  transition: all 0.2s linear;
}

.pokemonDetailCard_image {
  width: 32rem;
  height: 32rem;
  z-index: 2;
  position: relative;
  filter: drop-shadow(0 0 3px rgba(94, 94, 94, 0.627));
  transition: all 0.2s linear;
}

.pokemonDetailCard_image-section {
  position: absolute;
  left: 50%;
  transform: translateX(-50%) translateY(12%);
  transition: all 0.2s linear;
}

.pokemonDetailCard_pokeball-background {
  position: absolute;
  transform: translate(-50%, -60%);
  left: 50%;
  z-index: 1;
  transition: all 0.2s linear;
}

.pokemonDetailCard_pokeball-background svg {
  height: 13rem;
  width: 38rem;
  transition: all 0.2s linear;
}

.pokemonDetailCard_info-left {
  margin-left: 2.5rem;
  transition: all 0.2s linear;
}
.pokemonDetailCard_id {
  color: #edc43f;
  opacity: 0.8;
  font-family: "Oxanium-Medium";
  font-size: 3.2rem;
}
.pokemonDetailCard_name {
  font-family: "Oxanium-ExtraBold";
  font-size: 9rem;
  color: #ffffff;
  text-transform: uppercase;
  line-height: 1.2;
  letter-spacing: 0.25rem;
  text-shadow: 0 0 3px black;
}
.pokemonDetailCard_family {
  font-family: "Oxanium-Medium";
  font-size: 1.8rem;
  color: #ffffff;
  opacity: 0.5;
  letter-spacing: 0.12rem;
}

.pokemonDetailCard_types-container {
  margin: 1rem 0rem;
  display: flex;
}
.pokemonDetailCard_types {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 11rem;
  height: 3rem;
  border-radius: 25px;
}
.pokemonDetailCard_types:first-child {
  margin-right: 1rem;
}
.pokemonDetailCard-type_name {
  font-family: Avenir;
  color: #ffffff;
  font-size: 1.2rem;
  font-weight: 600;
  text-transform: uppercase;
  padding: 0.5rem;
}

.pokemonDetailCard_info-title {
  font-family: "Oxanium-SemiBold";
  font-size: 1.6rem;
  color: #ffffff;
  text-transform: uppercase;
  letter-spacing: 0.12rem;
  transition: all 0.2s linear;
}
.pokemonDetailCard_info-title.pokedex-entry {
  margin-top: 2rem;
}
.pokemonDetailCard_info-abilities-container {
  display: flex;
  flex-wrap: wrap;
}
.pokemonDetailCard_info-ability {
  padding: 0.75rem 1.5rem;
  font-family: "Oxanium-SemiBold";
  text-transform: capitalize;
  border-radius: 10rem;
  margin-top: 1rem;
  margin-right: 1rem;
  font-size: 1rem;
  color: #292f3f;
}
.pokemonDetailCard_info-ability.yellow-background {
  background: #edc43f;
}
.pokemonDetailCard_info-ability.white-background {
  background: #ffffff;
}
.pokemonDetailCard_info-ability:last-child {
  margin-right: 0rem;
  /* min-width: 12rem;
  width: 10rem; */
  width: fit-content;
  text-align: center;
}

.pokemonDetailCard_pokedex-entry {
  color: #ffffff;
  font-size: 1.4rem;
  font-family: "Oxanium-Regular";
  width: 30rem;
  padding: 1rem 0;
  letter-spacing: 0.1rem;
  line-height: 1.5;
}

.pokemonDetailCard_info-right {
  width: 36%;
  transition: all 0.2s linear;
}

.pokemonDetailCard_info-container {
  display: flex;
  justify-content: space-between;
  color: #ffffff;
  margin: 3rem 1.5rem;
  transition: all 0.2s linear;
}
.pokemonDetailCard_info-container:first-child {
  flex-direction: column;
  margin-top: 2rem;
}
.pokemonDetailCard_info-entry {
  font-family: "Oxanium-Bold";
  font-size: 1.6rem;
  text-align: right;
  letter-spacing: 0.08rem;
  margin-left: 0.5rem;
  transition: all 0.2s linear;
}
.pokemonDetailCard_info-entry span {
  font-family: "Oxanium-SemiBold";
  font-size: 1.4rem;
  text-transform: uppercase;
  padding-left: 0.5rem;
  letter-spacing: 0.12rem;
  font-size: inherit;
}

.pokemonDetailCard_pokeball-background path {
  fill-opacity: 0.65;
}
.pokemonDetailCard_pokeball-background .pokemon_card_pokeball_type_grass path {
  fill: #77cc55;
}
.pokemonDetailCard_pokeball-background .pokemon_card_pokeball_type_fire path {
  fill: #f8a54f;
}
.pokemonDetailCard_pokeball-background .pokemon_card_pokeball_type_water path {
  fill: #559edf;
}
.pokemonDetailCard_pokeball-background .pokemon_card_pokeball_type_bug path {
  fill: #9dc130;
}
.pokemonDetailCard_pokeball-background .pokemon_card_pokeball_type_flying path {
  fill: #9bb4e8;
}
.pokemonDetailCard_pokeball-background .pokemon_card_pokeball_type_normal path {
  fill: #dfe1e3;
}
.pokemonDetailCard_pokeball-background .pokemon_card_pokeball_type_poison path {
  fill: #b563ce;
}
.pokemonDetailCard_pokeball-background
  .pokemon_card_pokeball_type_electric
  path {
  fill: #edd53f;
}
.pokemonDetailCard_pokeball-background .pokemon_card_pokeball_type_ground path {
  fill: #d78555;
}
.pokemonDetailCard_pokeball-background .pokemon_card_pokeball_type_fairy path {
  fill: #ef97e6;
}
.pokemonDetailCard_pokeball-background
  .pokemon_card_pokeball_type_fighting
  path {
  fill: #d94256;
}
.pokemonDetailCard_pokeball-background
  .pokemon_card_pokeball_type_psychic
  path {
  fill: #f87c7a;
}
.pokemonDetailCard_pokeball-background .pokemon_card_pokeball_type_rock path {
  fill: #cec18c;
}
.pokemonDetailCard_pokeball-background .pokemon_card_pokeball_type_ghost path {
  fill: #6970c5;
}
.pokemonDetailCard_pokeball-background .pokemon_card_pokeball_type_dark path {
  fill: #5f606d;
}
.pokemonDetailCard_pokeball-background .pokemon_card_pokeball_type_dragon path {
  fill: #0773c7;
}
.pokemonDetailCard_pokeball-background .pokemon_card_pokeball_type_steel path {
  fill: #5596a4;
}
.pokemonDetailCard_pokeball-background .pokemon_card_pokeball_type_ice path {
  fill: #7ed4c9;
}

@media (max-width: 1100px) {
  .pokemonDetailCardTop {
    margin-top: 6.5rem;
  }
}
@media (max-width: 1000px) {
  .pokemonDetailCardTop {
    flex-direction: column;
  }
  .pokemonDetailCard_info-left {
    margin: 0rem 12.5rem 0 12.5rem;
  }
  .pokemonDetailCard_image-section {
    position: absolute;
    right: 5vw;
    left: unset;
    transform: unset;
  }
  .pokemonDetailCard_info-right {
    width: unset;
    margin: 1rem 12.5rem;
    padding: 0rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: baseline;
  }
  .pokemonDetailCard_info-container {
    margin: 0.75rem 0rem;
    min-width: 45%;
  }
}
@media (max-width: 900px) {
  .pokemonDetailCard_info-title,
  .pokemonDetailCard_info-entry {
    font-size: 1.4rem;
  }
}
@media (max-width: 850px) {
  .pokemonDetailCard_info-left {
    margin: 0rem 5.5rem 0 5.5rem;
  }
  .pokemonDetailCard_info-right {
    margin: 1rem 5rem;
  }
}
@media (max-width: 700px) {
  .pokemonDetailCard_image-section {
    right: 5vw;
  }
  .pokemonDetailCard_image {
    width: 27rem;
    height: 27rem;
  }
  .pokemonDetailCard_pokeball-background svg {
    height: 10rem;
    width: 25rem;
  }
  .pokemonDetailCard_types {
    width: 8rem;
    height: 2.5rem;
  }
  .pokemonDetailCard-type_name {
    font-size: 1.1rem;
  }
  .pokemonDetailCard_name {
    font-size: 12vw;
  }
  .pokemonDetailCard_id {
    font-size: 5.5vw;
  }
  .pokemonDetailCard_info-container {
    min-width: 48%;
  }
  .pokemonDetailCard_info-left {
    margin: 0rem 3.5rem 0 3.5rem;
  }
  .pokemonDetailCard_info-right {
    margin: 1rem 3.5rem;
  }
}

@media (max-width: 550px) {
  .pokemonDetailCard_id {
    margin: 14rem 0rem 0rem 0rem;
    z-index: 1000;
    position: relative;
    text-shadow: 0 0 3px black;
  }
  .pokemonDetailCard_name {
    z-index: 1000;
    position: relative;
  }
  .pokemonDetailCard_family {
    margin: 0rem 0 1rem 0;
    text-align: center;
  }
  .pokemonDetailCard_types-container {
    display: flex;
    justify-content: center;
  }
  .pokemonDetailCard_pokedex-entry {
    width: 100%;
  }
  .pokemonDetailCard_image-section {
    right: unset;
    top: 0;
    transform: translate(-50%, -30%);
    left: 50%;
  }
  .pokemonDetailCard_info-right {
    display: unset;
  }
  .pokemonDetailCard_info-container {
    margin: 1rem 0;
  }
  .pokemonDetailCard_info-container:first-child {
    margin-top: 1rem;
    flex-direction: row;
    align-items: center;
  }
  .pokemonDetailCard_info-title,
  .pokemonDetailCard_info-entry {
    font-size: 1.2rem;
  }
}

@media (max-width: 420px) {
  .pokemonDetailCard_info-left {
    margin: 0rem 2rem 0rem 2rem;
  }
  .pokemonDetailCard_info-right {
    margin: 1rem 2rem;
    min-width: unset;
  }
  .pokemonDetailCard_image {
    width: 60vw;
    height: 60vw;
  }
  .pokemonDetailCard_pokeball-background svg {
    width: 60vw;
  }
}
