.pokemon_card_border {
  position: relative;
  height: 15.5rem;
  width: 12rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  background: #292f3f;
  cursor: pointer;
  border: 1px solid rgba(126, 126, 126, 0.2);
  box-shadow: inset 0 0 0.5px 1px hsla(0, 0%, 100%, 0.075);
}

.pokemon_card_border_type_grass:hover {
  background: rgba(17, 100, 50, 0.2);
}
.pokemon_card_border_type_fire:hover {
  background: rgba(160, 8, 8, 0.2);
}
.pokemon_card_border_type_water:hover {
  background: #2f397781;
}
.pokemon_card_border_type_bug:hover {
  background: #252504;
}
.pokemon_card_border_type_flying:hover {
  background: #221f32;
}
.pokemon_card_border_type_normal:hover {
  background: #292929;
}
.pokemon_card_border_type_poison:hover {
  background: #35233b;
}
.pokemon_card_border_type_electric:hover {
  background: rgba(237, 213, 63, 0.25);
}
.pokemon_card_border_type_ground:hover {
  background: rgba(215, 133, 85, 0.4);
}
.pokemon_card_border_type_fairy:hover {
  background: rgba(239, 151, 230, 0.4);
}
.pokemon_card_border_type_fighting:hover {
  background: #5f1d26;
}
.pokemon_card_border_type_psychic:hover {
  background: rgba(248, 124, 122, 0.3);
}
.pokemon_card_border_type_rock:hover {
  background: rgba(206, 193, 140, 0.4);
}
.pokemon_card_border_type_ghost:hover {
  background: rgba(105, 112, 197, 0.4);
}
.pokemon_card_border_type_dark:hover {
  background: rgba(95, 96, 109, 0.4);
}
.pokemon_card_border_type_dragon:hover {
  background: rgba(7, 115, 199, 0.4);
}
.pokemon_card_border_type_steel:hover {
  background: rgba(85, 150, 164, 0.4);
}
.pokemon_card_border_type_ice:hover {
  background: rgba(126, 212, 201, 0.4);
}

.pokemon_card {
  height: 100%;
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0px 0.5rem 0.5rem 0.5rem;
}

/* .pokemon_card::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  z-index: 1;
  clip-path: polygon(20% 0, 100% 0, 100% 100%, 0 100%, 0 19%);
}

.pokemon_card_type_water::after {
  background-image: linear-gradient(
    28deg,
    rgba(57, 156, 255, 0.8) -3.35%,
    rgba(66, 82, 148, 0.8) 100.05%
  );
}
.pokemon_card_type_fire::after {
  background-image: linear-gradient(
    28deg,
    rgba(248, 208, 48, 0.8) -3.55%,
    rgba(240, 128, 48, 0.8) 48.14%,
    rgba(192, 48, 40, 0.8) 99.84%
  );
}
.pokemon_card_type_grass::after {
  background-image: linear-gradient(
    26deg,
    rgba(109, 242, 181, 0.8) -20.98%,
    rgba(49, 175, 99, 0.8) 39.38%,
    rgba(12, 115, 86, 0.8) 99.73%
  );
}
.pokemon_card_type_bug::after {
  background-image: linear-gradient(
    28deg,
    rgba(145, 194, 44, 0.8) -3.29%,
    rgba(114, 153, 34, 0.8) 47.8%,
    rgba(91, 123, 31, 0.8) 98.89%
  );
}
.pokemon_card_type_flying::after {
  background-image: linear-gradient(28deg, #9cadf7 -3.35%, #425294 100.05%);
}
.pokemon_card_type_normal::after {
  background-image: linear-gradient(
    28deg,
    rgba(172, 180, 183, 0.8) -3.29%,
    rgba(144, 153, 161, 0.8) 47.8%,
    rgba(77, 78, 81, 0.8) 98.89%
  );
}
.pokemon_card_type_poison::after {
  background-image: linear-gradient(
    28deg,
    rgba(216, 128, 184, 0.8) -3.29%,
    rgba(160, 64, 160, 0.8) 47.8%,
    rgba(72, 56, 80, 0.8) 98.89%
  );
}
.pokemon_card_type_electric::after {
  background-image: linear-gradient(
    28deg,
    rgba(246, 220, 133, 0.8) -3.29%,
    rgba(220, 184, 22, 0.8) 47.8%,
    rgba(93, 88, 65, 0.8) 98.89%
  );
}
.pokemon_card_type_ground::after {
  background-image: linear-gradient(
    27deg,
    #e19f87 -7.86%,
    #d97745 48.33%,
    #594a45 104.52%
  );
}
.pokemon_card_type_fairy::after {
  background-image: linear-gradient(
    28deg,
    rgba(246, 229, 242, 0.8) -3.78%,
    rgba(237, 143, 230, 0.8) 50.13%,
    rgba(93, 78, 93, 0.8) 104.05%
  );
}
.pokemon_card_type_fighting::after {
  background-image: linear-gradient(
    28deg,
    rgba(240, 128, 48, 0.8) -3.29%,
    rgba(192, 48, 40, 0.8) 47.8%,
    rgba(72, 64, 56, 0.8) 98.89%
  );
}
.pokemon_card_type_psychic::after {
  background-image: linear-gradient(
    28deg,
    rgba(255, 165, 198, 0.9) -3.78%,
    rgba(255, 90, 140, 0.9) 50.13%,
    rgba(148, 49, 74, 0.9) 104.05%
  );
}
.pokemon_card_type_rock::after {
  background-image: linear-gradient(
    27deg,
    rgba(200, 140, 50, 0.8) -3.52%,
    rgba(140, 90, 49, 0.8) 100.8%
  );
}
.pokemon_card_type_ghost::after {
  background-image: linear-gradient(
    28deg,
    #8e97be -3.29%,
    #5369ac 47.8%,
    #454855 98.89%
  );
}
.pokemon_card_type_dark::after {
  background-image: linear-gradient(
    27deg,
    #a5a5a5 -7.86%,
    #414141 48.33%,
    #212121 104.52%
  );
}
.pokemon_card_type_dragon::after {
  background-image: linear-gradient(
    28deg,
    rgba(104, 152, 248, 0.8) -3.29%,
    rgba(176, 132, 180, 0.8) 47.8%,
    rgba(248, 112, 112, 0.8) 98.89%
  );
}
.pokemon_card_type_steel::after {
  background-image: linear-gradient(
    28deg,
    #6abac3 -3.29%,
    #2e8390 47.8%,
    #145466 98.89%
  );
}
.pokemon_card_type_ice::after {
  background-image: linear-gradient(
    28deg,
    rgba(152, 247, 255, 0.8) -3.29%,
    rgba(96, 196, 205, 0.8) 47.8%,
    rgba(17, 77, 87, 0.8) 98.89%
  );
} */

.pokemon_card_image-section {
  position: relative;
  height: 8.5rem;
  width: 8.5rem;
  margin: auto;
  margin-top: -25%;
  margin-bottom: 1.5rem;
  transform: scale(1.05);
  z-index: 3;
  transition: all 0.2s linear;
}

.pokemon_card_pokeball-background {
  position: absolute;
  transform: translate(-50%, -60%);
  left: 50%;
  z-index: 1;
}
.pokemon_card_pokeball-background svg {
  height: 2.2rem;
  width: 5.2rem;
}

.pokemon_card_border:hover .pokemon_card_pokeball-background svg {
  height: 2.5rem;
  width: 5.5rem;
}
.pokemon_card_border:hover .pokemon_card_pokeball_type_grass path {
  fill: #77cc55;
}
.pokemon_card_border:hover .pokemon_card_pokeball_type_fire path {
  fill: #f8a54f;
}
.pokemon_card_border:hover .pokemon_card_pokeball_type_water path {
  fill: #559edf;
}
.pokemon_card_border:hover .pokemon_card_pokeball_type_bug path {
  fill: #9dc130;
}
.pokemon_card_border:hover .pokemon_card_pokeball_type_flying path {
  fill: #9bb4e8;
}
.pokemon_card_border:hover .pokemon_card_pokeball_type_normal path {
  fill: #dfe1e3;
}
.pokemon_card_border:hover .pokemon_card_pokeball_type_poison path {
  fill: #b563ce;
}
.pokemon_card_border:hover .pokemon_card_pokeball_type_electric path {
  fill: #edd53f;
}
.pokemon_card_border:hover .pokemon_card_pokeball_type_ground path {
  fill: #d78555;
}
.pokemon_card_border:hover .pokemon_card_pokeball_type_fairy path {
  fill: #ef97e6;
}
.pokemon_card_border:hover .pokemon_card_pokeball_type_fighting path {
  fill: #d94256;
}
.pokemon_card_border:hover .pokemon_card_pokeball_type_psychic path {
  fill: #f87c7a;
}
.pokemon_card_border:hover .pokemon_card_pokeball_type_rock path {
  fill: #cec18c;
}
.pokemon_card_border:hover .pokemon_card_pokeball_type_ghost path {
  fill: #6970c5;
}
.pokemon_card_border:hover .pokemon_card_pokeball_type_dark path {
  fill: #5f606d;
}
.pokemon_card_border:hover .pokemon_card_pokeball_type_dragon path {
  fill: #0773c7;
}
.pokemon_card_border:hover .pokemon_card_pokeball_type_steel path {
  fill: #5596a4;
}
.pokemon_card_border:hover .pokemon_card_pokeball_type_ice path {
  fill: #7ed4c9;
}

.pokemon_card_image-container {
  z-index: 2;
  position: relative;
}
.pokemon_card_image {
  width: 100%;
  height: 100%;
  filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.3));
  transition: all 0.2s linear;
}
.pokemon_card_border:hover .pokemon_card_image {
  transform: scale(1.13) translateY(-0.3rem);
  filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.88));
}

.pokemon_card_stats-container {
  padding-left: 0.4rem;
  z-index: 2;
}

/* .pokemon_card_stats-top {
  padding-left: 5px;
}
.pokemon_card_stats-top_grass {
  border-left: 5px solid #77cc55;
}
.pokemon_card_stats-top_fire {
  border-left: 5px solid #f8a54f;
}
.pokemon_card_stats-top_water {
  border-left: 5px solid #559edf;
}
.pokemon_card_stats-top_bug {
  border-left: 5px solid #9dc130;
}
.pokemon_card_stats-top_flying {
  border-left: 5px solid #9bb4e8;
}
.pokemon_card_stats-top_normal {
  border-left: 5px solid #9a9da1;
}
.pokemon_card_stats-top_poison {
  border-left: 5px solid #b563ce;
}
.pokemon_card_stats-top_electric {
  border-left: 5px solid #edd53f;
}
.pokemon_card_stats-top_ground {
  border-left: 5px solid #d78555;
}
.pokemon_card_stats-top_fairy {
  border-left: 5px solid #ef97e6;
}
.pokemon_card_stats-top_fighting {
  border-left: 5px solid #d94256;
}
.pokemon_card_stats-top_psychic {
  border-left: 5px solid #f87c7a;
}
.pokemon_card_stats-top_rock {
  border-left: 5px solid #cec18c;
}
.pokemon_card_stats-top_ghost {
  border-left: 5px solid #6970c5;
}
.pokemon_card_stats-top_dark {
  border-left: 5px solid #5f606d;
}
.pokemon_card_stats-top_dragon {
  border-left: 5px solid #0773c7;
}
.pokemon_card_stats-top_steel {
  border-left: 5px solid #5596a4;
}
.pokemon_card_stats-top_ice {
  border-left: 5px solid #7ed4c9;
} */

.pokemon_card_name-primary {
  font-family: "Oxanium-Bold";
  text-transform: uppercase;
  font-size: 1.25rem;
  width: 100%;
  word-wrap: break-word;
  color: rgb(255, 255, 255);
}

.pokemon_card_name-secondary {
  font-family: "Oxanium-Medium";
  color: #edd53f;
  font-size: 1.2rem;
  opacity: 0.5;
}

.pokemon_card_stats-bottom {
  margin: 0.5rem;
}

.pokemon_card_height,
.pokemon_card_weight {
  display: flex;
  justify-content: space-around;
  font-size: 1.4rem;
  margin: 0.3rem;
  opacity: 0.85;
}
.pokemon_card_weight {
  margin-bottom: 0px;
}

.pokemon_card_text-primary {
  width: 30%;
  font-family: "Oxanium-SemiBold";
}
.pokemon_card_text-secondary {
  width: 45%;
  font-family: "Oxanium-SemiBold";
  text-align: right;
}
.pokemon_card_text-secondary span {
  font-size: 1.2rem;
}

.pokemon_card_type-container {
  position: relative;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 0.5rem;
}

.pokemon_card_type-icon {
  width: 1.8rem;
  height: 1.8rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #ffffff;
  /* font-family: Avenir; */
  font-family: "Oxanium-SemiBold";
  border: 1px solid rgba(117, 117, 117, 0.243);
  box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
}
.pokemon_card_icon_image {
  width: 0.8rem;
  height: 0.8rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.pokemon_card_icon_image img {
  height: 100%;
  width: 100%;
}

/* .pokemon_card_type {
  width: 95px;
  height: 28px;
  border-radius: 50px;
  text-align: center;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  color: #ffffff;
  font-family: "Oxanium-SemiBold";
  font-size: 12px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  text-transform: uppercase;
  text-align: left;
  border: 1px solid rgba(117, 117, 117, 0.243);
  box-shadow: rgba(0, 0, 0, 0.15) 0px 3px 3px 0px;
}
.pokemon_card-type_name {
  width: 60%;
  text-align: center;
}
.pokemon_card_icon_image {
  width: 20%;
  display: flex;
  align-items: center;
  justify-content: center;
} */
.pokemon_card_type_grass-icon {
  background: #77cc55;
  /* box-shadow: 0px 0px 10px 0px rgba(100, 185, 84, 0.7); */
}
.pokemon_card_type_fire-icon {
  background: #f8a54f;
  /* box-shadow: 0px 0px 10px 0px rgba(254, 158, 84, 0.7); */
}
.pokemon_card_type_water-icon {
  background: #559edf;
  /* box-shadow: 0px 0px 10px 0px rgba(85, 158, 223, 0.7); */
}
.pokemon_card_type_bug-icon {
  background: #9dc130;
  /* box-shadow: 0px 0px 10px 0px rgba(152, 195, 47, 0.7); */
}
.pokemon_card_type_flying-icon {
  background: #9bb4e8;
  /* box-shadow: 0px 0px 10px 0px rgba(157, 181, 228, 0.7); */
}
.pokemon_card_type_normal-icon {
  background: #9a9da1;
  /* box-shadow: 0px 0px 10px 0px rgba(93, 89, 106, 0.7); */
}
.pokemon_card_type_poison-icon {
  background: #b563ce;
  /* box-shadow: 0px 0px 10px 0px rgba(163, 107, 203, 0.7); */
}
.pokemon_card_type_electric-icon {
  background: #edd53f;
  /* box-shadow: 0px 0px 10px 0px rgba(244, 213, 86, 0.7); */
}
.pokemon_card_type_ground-icon {
  background: #d78555;
  /* box-shadow: 0px 0px 10px 0px rgba(216, 130, 85, 0.7); */
}
.pokemon_card_type_fairy-icon {
  background: #ef97e6;
  /* box-shadow: 0px 0px 10px 0px rgba(242, 148, 233, 0.7); */
}
.pokemon_card_type_fighting-icon {
  background: #d94256;
  /* box-shadow: 0px 0px 10px 0px rgba(212, 68, 93, 0.7); */
}
.pokemon_card_type_psychic-icon {
  background: #f87c7a;
  /* box-shadow: 0px 0px 10px 0px rgba(248, 124, 122, 0.7); */
}
.pokemon_card_type_rock-icon {
  background: #cec18c;
  /* box-shadow: 0px 0px 10px 0px rgba(203, 193, 148, 0.7); */
}
.pokemon_card_type_ghost-icon {
  background: #6970c5;
  /* box-shadow: 0px 0px 10px 0px rgba(101, 108, 198, 0.7); */
}
.pokemon_card_type_dark-icon {
  background: #5f606d;
  /* box-shadow: 0px 0px 10px 0px rgba(93, 89, 106, 0.7); */
}
.pokemon_card_type_dragon-icon {
  background: #0773c7;
  /* box-shadow: 0px 0px 10px 0px rgba(7, 115, 199, 0.7); */
}
.pokemon_card_type_steel-icon {
  background: #5596a4;
  /* box-shadow: 0px 0px 10px 0px rgba(80, 148, 161, 0.7); */
}
.pokemon_card_type_ice-icon {
  background: #7ed4c9;
  /* box-shadow: 0px 0px 10px 0px rgba(126, 212, 201, 0.7); */
}
