.sidebar_block {
  min-height: 10.24rem;
  border-radius: 5px;
  background: #292f3fd2;
  margin: 1rem;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: end;
  padding: 0 1rem;
  cursor: pointer;
  transition: all 0.2s linear;
}
.sidebar_block:after {
  content: "";
  position: absolute;
  border-radius: 5px;
  display: block;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0)
    linear-gradient(to bottom, rgba(0, 0, 0, 0) 0px, rgba(0, 0, 0, 0.75) 100%)
    repeat 0 0;
  z-index: 1;
}
.sidebar_block:hover {
  background: #84874f83;
}
.sidebar_block:hover .sidebar_block_image-container img {
  transform: scale(1.1) translateY(-0.3rem);
}
.sidebar_block:hover::after {
  background: rgba(0, 0, 0, 0)
    linear-gradient(to bottom, rgba(0, 0, 0, 0) 0px, rgba(0, 0, 0, 0.55) 100%)
    repeat 0 0;
}
.sidebarblock-active,
.sidebarblock-active:hover {
  background: #ffe32e5f;
  border: 1px solid rgba(187, 187, 187, 0.075);
  box-shadow: inset 0 0 0.5px 1px hsla(0, 0%, 100%, 0.1);
  cursor: default;
}
.sidebar_block_gen_title_container {
  /* position: relative;
  width: fit-content;
  block-size: fit-content;
  margin: 0 auto;
  color: #ffffff; */
  display: block;
  position: absolute;
  width: 100%;
  color: #fff;
  left: 0%;
  bottom: 0;
  padding: 1em 1em 0em 1em;
  font-weight: 700;
  z-index: 2;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.sidebar_block_gen_title {
  filter: drop-shadow(0 0 5px rgba(0, 0, 0, 0.88));
  font-family: "Oxanium-ExtraBold";
  font-size: 1.8rem;
  text-transform: uppercase;
}
.sidebar_block_national_id {
  font-family: "Oxanium-Medium";
  font-size: 1.2rem;
  padding-bottom: 1rem;
  display: flex;
  color: rgb(255, 217, 0);
  filter: drop-shadow(0 0 5px rgb(0, 0, 0));
}
.sidebar_block_national_id-start {
  padding-right: 0.3rem;
}
.sidebar_block_national_id-end {
  padding-left: 0.3rem;
}

.sidebar_block_image-container {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0%);
  height: 100%;
  width: 100%;
  display: flex;
  align-items: start;
  justify-content: center;
}
.sidebar_block_image-container img {
  margin-top: -1rem;
  width: 16rem;
  transition: all 0.2s linear;
}
@media (max-width: 1225px) {
  .sidebar_block_image-container img {
    width: 12rem;
  }
  .sidebar_block:hover .sidebar_block_image-container img {
    transform: scale(1.1) translateY(-0.3rem);
  }
}
